@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
 font-family: "Raleway";
 }
.navbar{
 background:#08bcbf;
}
.link{
    display: none;
}

.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: #08bcbf !important;
}
.nav-link:hover{
 background: #08bcbf;
 color: #808c8c;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background:#fff !important;
}
.bg-light{
    background-color:#08bcbf!important
}
.bg-primary{
    background-color:#343a40!important
}

.header{
     background-image: url('images/image-fon.jpg');
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
}
.header_content{
    position: absolute;
    top: 10%;
    padding: 2rem;
    margin: auto; 
    color: #202324;
    min-width: 100%;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.59);
   }
 
.description{
   position: absolute;
   top: 30%;
   margin: auto;
   padding: 2em;
}

.description p{
     color:#08bcbf;
     font-size: 20px;
     width: 50%;
     line-height: 1.5;
}
.description button{
    border:1px solid #08bcbf;
     background:#08bcbf;
     color:#fff;
 }

.about{
     margin: 2em 0;
     padding: 1em;
     position: relative;
}
.about_vw {
    border-right: 4px solid #08bcbf;
}
.about_pad {
    padding: 3em;
}
.text-center {
    text-align: center!important;
}
.about h1{
    color:#08bcbf;
    margin: 1em;
}
.about img{
    height: 100%;
    width: 100%;
    border-radius: 70%
}
.about .desc{
 padding: 10em;
 border-left:4px solid #10828C;
}

.news{
     margin: 4em 0;
     position: relative;
     padding-bottom: 4em;
    color: black;
    background-color: #dbe0e5!important;
}

.news h1{
    color:#08bcbf;
    margin: 1em;
}

.news .card{
    box-shadow: 0 0 20px #ccc;
}

.news .title{
    color:#08bcbf;
}

.news img{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

.news .card-footer {
    background:#08bcbf;
     
}

.fan-meet{
     margin: 2em 0;
     padding: 1em;
     position: relative;
 }
.fan-meet h1{
    color:#08bcbf;
    margin: 0.2em;
}
.fan-meet img{
    height: 40%;
    width: 40%;
    vertical-align: middle;
    border-style: none;
}

.books{
     margin: 2em 0;
     padding: 1em;
     position: relative;
 }
 .books img{
    height: 100%;
    width: 100%;
    border-radius: none;
}
.books_vw {
    border-right: 4px solid #08bcbf;
}
.books_pad {
    padding: 3em;
}

.books h1{
    color:#08bcbf;
    margin: 0.2em;
}
 
.books img-fluid {
    max-width: 100%;
    height: auto;
}
.books img {
    vertical-align: middle;
    border-style: none;
}
.books button{
     border:1px solid #08bcbf;
     background:#08bcbf;
     color:#fff;
}

.promocja {
    padding-bottom: 4em;
    color: black;
    background-color: #dbe0e5!important;
}

.promocja{
     margin: 2em 0;
     padding: 1em;
     position: relative;
 }
 .promocja img{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    border-style: none;
}
.promocja_vw {
    border-right: 4px solid #08bcbf;
}
.promocja_pad {
    padding: 3em;
}

.promocja h1{
    color:#08bcbf;
    margin: 0.2em;
}
 
.promocja button{
     border:1px solid #08bcbf;
     background:#08bcbf;
     color:#fff;
 }

.partners{
     margin: 4em 0;
     position: relative; 
}
.partners h1{
     color:#08bcbf;
     margin: 2em; 
}
.partners img{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    border-style: none;
}
.partners .item{
    position: relative;
}
.partners .des{
     background: #08bcbf;
     color: #fff;
     text-align: center;
     border-bottom-left-radius: 50%;
     transition:.1s ease-in-out;
}

.partners .item:hover .des{
     height: 100%;
     background:#08bcbf;
     position: absolute;
     width: 95%;
     padding: 5em;
     top: 0;
     border-bottom-left-radius: 0;
}


.contact{
     margin: 4em 0;
     padding: 2em;
     position: relative;
     background-color: #dbe0e5!important;
 }

.contact button{
     border:1px solid #08bcbf;
     background:#08bcbf;
     color:#fff;
 }

.random{
     margin: 4em 0;
     padding: 2em;
     position: relative;
     border:1px solid #08bcbf;
     background:#08bcbf;
     color:#fff;
 }

 .random h1{
    color:white;
    margin: 0.2em;
}
